<div class="container">
  <div class="row new_dom">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 class="text-center"><%= t 'activerecord.attributes.domain.edit_domain' %></h3>
        <div class="show_form" id="form">
          <%= render 'form' %>
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-11 col-md-offset-3">
    <div><i class="fa fa-arrow-left" aria-hidden="true"></i>  <%= link_to t('activerecord.attributes.domain.back'), domain_path(@domain) %></div>
  </div>
</div>
