<div class="row">
 <div class="col-md-8 col-md-offset-2">
 <h3><%=  t('search_results') %></h3>
	  <% @domains.each do |domain| %>
	   <h4> <%=link_to  domain.name,domain_path(domain)  %></h4>
	  <% end %>
  </div>
</div>