<div class="row">
<% if !flash.empty? %>
  <div id="flash">
  <% flash.each do |key, value| %>
	  	<% if key != "alert" %>
		    <div class=" alert alert-<%= key %>" role="alert">
		      <a href="#" data-dismiss="alert" class="close"></a><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
		      <%= value %>
		    </div>
	    <%else%>
		    <div class=" alert alert-danger" role="alert">
		      <a href="#" data-dismiss="alert" class="close"></a><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
		      <%= value %>
		    </div>
	    <%end%>
  <% end %>
  </div>
<% end %>
</div>